
@{
    ViewBag.Title = "Home";
}



<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="text-center">
            <br />
            <img src="~/Content/images/sequencelogo.png" alt="...">
            <div class="caption">
                <h2>Make sequence</h2>
                <p><a href="@Url.Action("Scheduler", "Home")" class="btn btn-success" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="text-center">
            <br />
            <img src="~/Content/images/courselogo.png" alt="...">
            <div class="caption">
                <h2>Browse Courses</h2>
                <p><a href="@Url.Action("Courses", "Home")" class="btn btn-success" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="text-center">
            <br />
            <img src="~/Content/images/contactlogo.png" alt="...">
            <div class="caption">
                <h2>Browse Professors</h2>
                <p><a href="@Url.Action("Professors", "Home")" class="btn btn-success" role="button">Button</a></p>
            </div>
        </div>
    </div>
</div>