@{
    ViewBag.Title = "Database";
}

<div class="jumbotron">
    <h1>DATABASE PAGE</h1>
</div>

<div>

    <a href="@Url.Action("DatabaseUpdate", "Admin")" class="btn btn-primary btn-lg btn-block">will be use to load course list</a>
    <a href="@Url.Action("JsonProfessors", "Admin")" class="btn btn-primary btn-lg btn-block">update professor list</a>
</div>