@{
    ViewBag.Title = "Database";
}

<div class="jumbotron">
    <h1>DATABASE PAGE</h1>
</div>

<div>

    <a href="@Url.Action("DatabaseUpdate", "Admin")" class="btn btn-primary btn-lg btn-block">Update Database</a>
    <a href="@Url.Action("Json", "Admin")" class="btn btn-primary btn-lg btn-block">Update Database</a>
</div>