@{
    ViewBag.Title = "Database";
    
}

<div class="jumbotron">
    <h1>Database</h1>
</div>

<div>

    <a href="@Url.Action("UpdateCourses", "Admin")" class="btn btn-primary btn-lg btn-block">Update course list</a>
    @if (ViewBag.FoundD == "true")
    {
         <p>Last update : @ViewBag.UpdateD</p>
    }

    <br/>
    <br/>

    <a href="@Url.Action("UpdateProfessors", "Admin")" class="btn btn-primary btn-lg btn-block">Update professor list</a>

    @if (ViewBag.FoundP == "true")
    {
        <p>Last update : @ViewBag.UpdateP</p>
    }


</div>