@{
    //use so that 
    string homeUrl = string.Empty;
    string path = string.Empty;
    if(HttpContext.Current.User.IsInRole("student"))
    {
        homeUrl = "Student";
        path = "Index";
    }
    else if (HttpContext.Current.User.IsInRole("admin"))
    {
        homeUrl = "Admin";
        path = "Database";
    }
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("DreamScheduler", path, homeUrl, new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <!--if else statement : if user show user nav tab, if admin show different nav tab-->
            @{
                if (HttpContext.Current.User.Identity.IsAuthenticated)
                    
                {
                    if (HttpContext.Current.User.IsInRole("admin"))
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Manage Database", "Database", "Admin")</li>
                        </ul>
                    }
                    else if(HttpContext.Current.User.IsInRole("student"))
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Student")</li>
                        </ul>
                    }
                }
            }

            <ul class="nav navbar-nav navbar-right">
                <li class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")
                </li>
            </ul>
        </div>
    </div>
</div>