﻿@model DreamSchedulerApplication.Models.ConstraintsViewModel

@{
    ViewBag.Title = "Constraints";
}

<h2 style="margin-bottom: 40px">Constraints</h2>

@using (Html.BeginForm())
{
    <div class="divIntersts">



        <table id="container">
            <tr>
                <th>Semester</th>
                <th>Number of Courses</th>
            </tr>
            @foreach (var item in Model.Constraints)
            {
                @Html.HiddenFor(modelItem => item.Semester)
                @Html.HiddenFor(modelItem => item.NumberOfCourses)

                <tr>
                    <td>
                        @Html.EditorFor(modelItem => item.Semester)
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => item.NumberOfCourses)
                    </td>
                </tr>
            }
        </table>
    </div>

    <input type="button" id="btnAdd" value="Add New Semester" />

    <div class="form-group" style="margin-top: 60px">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
}

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("#btnAdd").click(function (e) {
                var itemIndex = $("#container input.iHidden").length;
                e.preventDefault();
                var newItem = $("<tr><td><input class='text-box single-line' id='item_Semester'  name='item.Semester' type='text' value=''/></td><td><input class='text-box single-line' id='item_NumberOfCourses'  name='item.NumberOfCourses' type='text' value=''/</td></tr>");
                $("#container").append(newItem);
            });
        });
    </script>
}