@model System.Collections.Generic.List<DreamSchedulerApplication.Models.Sequence.CourseEntry>

@{
    ViewBag.Title = "Course Sequence";
}

<h2>Course Sequence</h2>

<table class="table">

    <caption style="margin-bottom: 30px; font-weight: bold">Course sequence</caption>
    <tr>
        <th>
            Semester
        </th>
        <th>
            Title
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SemesterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Code)
            </td>
            <td>
                @Html.ActionLink("Details", "CourseDetails", "Student", new { code = item.Course.Code }, null)
            </td>
        </tr>
    }

</table>
