@model DreamSchedulerApplication.Models.RegisterViewModel

@{
    ViewBag.Title = "Request Admin Account";
}

<br />
<br />
<h2>Your request has been successfully submitted</h2>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
